body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Divider3
{
   display: -webkit-flex;
   display: flex;
   padding: 5px 0px 8px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#DividerLine3
{
   border-color: #D3D3D3;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 5px 0px 0px 0px;
   padding: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   font-family: "Futura Light";
   font-weight: normal;
   font-size: 11px;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 21px;
   width: 41px;
}
#FontAwesomeIcon2 i
{
   color: #696969;
   display: inline-block;
   font-size: 21px;
   line-height: 21px;
   vertical-align: middle;
   width: 17px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon4
{
   height: 22px;
   width: 49px;
}
#FontAwesomeIcon4 i
{
   color: #696969;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 19px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon5
{
   height: 23px;
   width: 22px;
}
#FontAwesomeIcon5 i
{
   color: #696969;
   display: inline-block;
   font-size: 22px;
   line-height: 23px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 22px;
   width: 37px;
}
#FontAwesomeIcon1 i
{
   color: #696969;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 17px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon1
{
   position: absolute;
   left: 477px;
   top: 163px;
   width: 37px;
   height: 22px;
   text-align: center;
   z-index: 5;
}
#wb_Text1
{
   position: absolute;
   left: 0px;
   top: 134px;
   width: 970px;
   height: 14px;
   text-align: center;
   z-index: 8;
}
#wb_FontAwesomeIcon2
{
   position: absolute;
   left: 436px;
   top: 164px;
   width: 41px;
   height: 21px;
   text-align: center;
   z-index: 6;
}
#wb_FontAwesomeIcon4
{
   position: absolute;
   left: 515px;
   top: 163px;
   width: 49px;
   height: 22px;
   text-align: center;
   z-index: 7;
}
#wb_Image1
{
   position: absolute;
   left: 461px;
   top: 19px;
   width: 48px;
   height: 111px;
   z-index: 3;
}
#wb_FontAwesomeIcon5
{
   position: absolute;
   left: 405px;
   top: 163px;
   width: 22px;
   height: 23px;
   text-align: center;
   z-index: 4;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 3px;
   width: 100%;
   height: 19.6%;
   z-index: 9;
}
#DividerLine3
{
   display: block;
}
#Layer1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
@media only screen and (min-width: 480px) and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Divider3
{
   visibility: visible;
   display: flex;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Divider3
{
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 5px 0px 8px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#Layer1
{
   left: 0px;
   top: 5px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer1
{
   width: 101.0417%;
}
#Layer1_Container
{
   width: 485px;
}
#wb_Image1
{
   left: 221px;
   top: 14px;
   width: 42px;
   height: 95px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#DividerLine3
{
   width: auto;
   height: -4px;
   visibility: visible;
   display: inline;
   margin: 5px 0px 0px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#DividerLine3
{
   border-color: #D3D3D3;
   border-bottom-width: -9px;
}
#wb_Text1
{
   left: 0px;
   top: 101px;
   width: 480px;
   height: 14px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   font-family: "Futura Light";
   font-weight: normal;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_FontAwesomeIcon2
{
   left: 247px;
   top: 116px;
   width: 41px;
   height: 21px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon2
{
   width: 41px;
   height: 21px;
}
#FontAwesomeIcon2 i
{
   line-height: 21px;
   font-size: 21px;
   width: 17px;
}
#wb_FontAwesomeIcon4
{
   left: 276px;
   top: 116px;
   width: 49px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon4
{
   width: 49px;
   height: 22px;
}
#FontAwesomeIcon4 i
{
   line-height: 22px;
   font-size: 22px;
   width: 19px;
}
#wb_FontAwesomeIcon5
{
   left: 188px;
   top: 116px;
   width: 22px;
   height: 23px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon5
{
   width: 22px;
   height: 23px;
}
#FontAwesomeIcon5 i
{
   line-height: 23px;
   font-size: 22px;
   width: 16px;
}
#wb_FontAwesomeIcon1
{
   left: 210px;
   top: 116px;
   width: 37px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon1
{
   width: 37px;
   height: 22px;
}
#FontAwesomeIcon1 i
{
   line-height: 22px;
   font-size: 22px;
   width: 17px;
}
}
@media only screen and (max-width: 479px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Divider3
{
   visibility: visible;
   display: flex;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Divider3
{
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 5px 0px 8px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#Layer1
{
   left: 0px;
   top: 6px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer1
{
   width: 100%;
}
#Layer1_Container
{
   width: 320px;
}
#wb_Image1
{
   left: 139px;
   top: 14px;
   width: 42px;
   height: 95px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#DividerLine3
{
   width: auto;
   height: -4px;
   visibility: visible;
   display: inline;
   margin: 5px 0px 0px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#DividerLine3
{
   border-color: #D3D3D3;
   border-bottom-width: -9px;
}
#wb_Text1
{
   left: 0px;
   top: 109px;
   width: 320px;
   height: 14px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_FontAwesomeIcon2
{
   left: 49px;
   top: 24px;
   width: 41px;
   height: 21px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon2
{
   width: 41px;
   height: 21px;
}
#FontAwesomeIcon2 i
{
   line-height: 21px;
   font-size: 21px;
   width: 17px;
}
#wb_FontAwesomeIcon4
{
   left: 245px;
   top: 24px;
   width: 49px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon4
{
   width: 49px;
   height: 22px;
}
#FontAwesomeIcon4 i
{
   line-height: 22px;
   font-size: 22px;
   width: 19px;
}
#wb_FontAwesomeIcon5
{
   left: 17px;
   top: 23px;
   width: 22px;
   height: 23px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon5
{
   width: 22px;
   height: 23px;
}
#FontAwesomeIcon5 i
{
   line-height: 23px;
   font-size: 22px;
   width: 16px;
}
#wb_FontAwesomeIcon1
{
   left: 209px;
   top: 23px;
   width: 37px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon1
{
   width: 37px;
   height: 22px;
}
#FontAwesomeIcon1 i
{
   line-height: 22px;
   font-size: 22px;
   width: 17px;
}
}
