body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_panel #PanelMenu1_markup
{
   display: block;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   border-width: 0;
   border-bottom-width: 0px;
   border-radius: 0;
   box-shadow: none;
}
#PanelMenu1_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#PanelMenu1_panel
{
   display: none;
   position: absolute;
   position: fixed;
   width: 100%;
   z-index: 9999;
}
#PanelMenu1_markup li a
{
   color: #D3D3D3;
   border: 0px solid #2E2E2E;
   background-color: #4F4F4F;
   font-family: "Futura LT";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#wb_PanelMenu1 a
{
   color: #696969;
   border: 1px solid transparent;
   background-color: #FFFFFF;
   background-color: rgba(255,255,255,0.00);
   font-family: "Futura LT";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#PanelMenu1_markup li a:hover
{
   color: #D3D3D3;
   background-color: #000000;
   border: 0px solid #2E2E2E;
}
#wb_PanelMenu1 a:hover
{
   color: #808080;
   background-color: #DCDCDC;
   border: 1px solid transparent;
}
#PanelMenu1_panel
{
   background-color: #4F4F4F;
   overflow-y: auto;
}
#PanelMenu1 .line
{
   width: 16px;
   height: 3px;
   background: #696969;
   display: block;
   margin: 3px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#PanelMenu1 .line:first-child
{
   margin-top: 8px;
}
#PanelMenu1.open .line:nth-child(1)
{
   -webkit-transform: translateY(6px) rotate(45deg);
   -moz-transform: translateY(6px) rotate(45deg);
   transform: translateY(6px) rotate(45deg);
}
#PanelMenu1.open .line:nth-child(2)
{
   opacity: 0;
}
#PanelMenu1.open .line:nth-child(3)
{
   -webkit-transform: translateY(-6px) rotate(-45deg);
   -moz-transform: translateY(-6px) rotate(-45deg);
   transform: translateY(-6px) rotate(-45deg);
}
#PanelMenu1
{
   line-height: 32px;
   width: 27px;
   height: 32px;
   position: absolute;
   z-index: 999;
}
#FlexGrid1
{
   display: grid;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 0px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 50px 50px auto 100px 5px auto;
   grid-template-areas:
      "header header header header"
      "row1 row1 row1 row1"
      "main4 main6 main6 main7"
      "row2 row2 row2 row2"
      "main8 main9 main10 main11"
      "ft ft ft ft";
}
#FlexGrid1 .header
{
   display: flex;
   grid-area: header;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#FlexGrid1 .row1
{
   display: flex;
   grid-area: row1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main4
{
   display: flex;
   grid-area: main4;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main6
{
   display: flex;
   grid-area: main6;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#FlexGrid1 .main7
{
   display: flex;
   grid-area: main7;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .row2
{
   display: flex;
   grid-area: row2;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main8
{
   display: flex;
   grid-area: main8;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main9
{
   display: flex;
   grid-area: main9;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main10
{
   display: flex;
   grid-area: main10;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main11
{
   display: flex;
   grid-area: main11;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .ft
{
   display: flex;
   grid-area: ft;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#Divider3
{
   display: -webkit-flex;
   display: flex;
   padding: 5px 0px 8px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#DividerLine3
{
   border-color: #D3D3D3;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 5px 0px 0px 0px;
   padding: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   font-family: "Futura Light";
   font-weight: normal;
   font-size: 11px;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 21px;
   width: 41px;
}
#FontAwesomeIcon2 i
{
   color: #696969;
   display: inline-block;
   font-size: 21px;
   line-height: 21px;
   vertical-align: middle;
   width: 17px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon4
{
   height: 22px;
   width: 49px;
}
#FontAwesomeIcon4 i
{
   color: #696969;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 19px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon5
{
   height: 23px;
   width: 22px;
}
#FontAwesomeIcon5 i
{
   color: #696969;
   display: inline-block;
   font-size: 22px;
   line-height: 23px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 22px;
   width: 37px;
}
#FontAwesomeIcon1 i
{
   color: #696969;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 17px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#SlideShow1 .image
{
   border-width: 0;
   display: block;
   float: left;
   height: auto;
   width: 100%;
}
#SlideShow1 li
{
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
}
#SlideShow1
{
   display: inline-block;
   position: relative;
   list-style: none;
   width: 100%;
   padding: 0;
   margin: 0;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#YouTube2
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
}
#Layer3
{
   background-color: transparent;
   background-image: none;
}
#YouTube1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#Layer7
{
   background-color: transparent;
   background-image: none;
}
#YouTube5
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#Layer4
{
   background-color: transparent;
   background-image: none;
}
#YouTube3
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_YouTube1
{
   position: absolute;
   left: 57px;
   top: 1px;
   width: 180px;
   height: 101px;
   z-index: 30;
}
#Layer2_Container
{
   width: 429px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_FontAwesomeIcon1
{
   position: absolute;
   left: 477px;
   top: 163px;
   width: 37px;
   height: 22px;
   text-align: center;
   z-index: 12;
}
#wb_YouTube2
{
   position: absolute;
   left: 54px;
   top: 0px;
   width: 180px;
   height: 101px;
   z-index: 29;
}
#wb_Text1
{
   position: absolute;
   left: 0px;
   top: 134px;
   width: 970px;
   height: 14px;
   text-align: center;
   z-index: 15;
}
#wb_FontAwesomeIcon2
{
   position: absolute;
   left: 436px;
   top: 164px;
   width: 41px;
   height: 21px;
   text-align: center;
   z-index: 13;
}
#wb_YouTube3
{
   position: absolute;
   left: 54px;
   top: 1px;
   width: 180px;
   height: 101px;
   z-index: 32;
}
#wb_FontAwesomeIcon4
{
   position: absolute;
   left: 515px;
   top: 163px;
   width: 49px;
   height: 22px;
   text-align: center;
   z-index: 14;
}
#wb_Image1
{
   position: absolute;
   left: 461px;
   top: 19px;
   width: 48px;
   height: 111px;
   z-index: 10;
}
#wb_YouTube5
{
   position: absolute;
   left: 54px;
   top: 1px;
   width: 180px;
   height: 101px;
   z-index: 31;
}
#wb_FontAwesomeIcon5
{
   position: absolute;
   left: 405px;
   top: 163px;
   width: 22px;
   height: 23px;
   text-align: center;
   z-index: 11;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 561px;
   width: 100%;
   height: 19.6%;
   z-index: 16;
}
#SlideShow1
{
   display: inline-block;
   position: relative;
   width: 347px;
   height: 100vh;
   z-index: 5;
}
#Layer2
{
   position: absolute;
   text-align: center;
   visibility: hidden;
   left: 4px;
   top: 106px;
   width: 44.2268%;
   height: 7.8538%;
   z-index: 34;
}
#Layer4_Container
{
   width: 426px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer3
{
   position: absolute;
   text-align: center;
   visibility: hidden;
   left: 1px;
   top: 218px;
   width: 44.5361%;
   height: 7.9316%;
   z-index: 35;
}
#DividerLine3
{
   display: block;
}
#Layer1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer4
{
   position: absolute;
   text-align: center;
   visibility: hidden;
   left: 4px;
   top: 442px;
   width: 43.9175%;
   height: 7.9316%;
   z-index: 37;
}
#Layer7_Container
{
   width: 429px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer7
{
   position: absolute;
   text-align: center;
   visibility: hidden;
   left: 4px;
   top: 330px;
   width: 44.2268%;
   height: 7.9316%;
   z-index: 36;
}
#wb_PanelMenu1
{
   display: inline-block;
   width: 27px;
   height: 32px;
   text-align: center;
   z-index: 2;
}
#wb_EmbeddedPage2
{
   display: inline-block;
   width: 970px;
   height: 32px;
   z-index: 4;
}
#Layer3_Container
{
   width: 432px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
@media only screen and (min-width: 480px) and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_EmbeddedPage2
{
   width: 480px;
   height: 32px;
   visibility: visible;
   display: inline;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 0;
}
#LayoutGrid1 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid1 > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_PanelMenu1
{
   width: 27px;
   height: 32px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#PanelMenu1
{
   line-height: 32px;
   width: 27px;
   height: 32px;
}
#PanelMenu1 .line:first-child
{
   margin-top: 5px;
}
#FlexGrid1
{
   visibility: visible;
   display: grid;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FlexGrid1
{
   margin: 0;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 50px 50px auto auto auto auto;
   grid-template-areas:
      "header header header header"
      "row1 row1 row1 row1"
      "main4 main6 main6 main7"
      "row2 row2 row2 row2"
      "main8 main9 main10 main11"
      "ft ft ft ft";
}
#FlexGrid1 .header
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#FlexGrid1 .main2
{
   display: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main4
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main1
{
   display: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main3
{
   display: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main6
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#FlexGrid1 .row2
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main7
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .row1
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .ft
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main8
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main9
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main10
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main11
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#EmbeddedPage1
{
   width: 485px;
   height: 148px;
   visibility: visible;
   display: inline;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_Divider3
{
   visibility: visible;
   display: flex;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Divider3
{
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 5px 0px 8px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#Layer1
{
   left: 0px;
   top: 439px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer1
{
   width: 101.0417%;
}
#Layer1_Container
{
   width: 485px;
}
#wb_Image1
{
   left: 221px;
   top: 14px;
   width: 42px;
   height: 95px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#DividerLine3
{
   width: auto;
   height: -4px;
   visibility: visible;
   display: inline;
   margin: 5px 0px 0px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#DividerLine3
{
   border-color: #D3D3D3;
   border-bottom-width: -9px;
}
#wb_Text1
{
   left: 0px;
   top: 101px;
   width: 480px;
   height: 14px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   font-family: "Futura Light";
   font-weight: normal;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_FontAwesomeIcon2
{
   left: 247px;
   top: 116px;
   width: 41px;
   height: 21px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon2
{
   width: 41px;
   height: 21px;
}
#FontAwesomeIcon2 i
{
   line-height: 21px;
   font-size: 21px;
   width: 17px;
}
#wb_FontAwesomeIcon4
{
   left: 276px;
   top: 116px;
   width: 49px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon4
{
   width: 49px;
   height: 22px;
}
#FontAwesomeIcon4 i
{
   line-height: 22px;
   font-size: 22px;
   width: 19px;
}
#wb_FontAwesomeIcon5
{
   left: 188px;
   top: 116px;
   width: 22px;
   height: 23px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon5
{
   width: 22px;
   height: 23px;
}
#FontAwesomeIcon5 i
{
   line-height: 23px;
   font-size: 22px;
   width: 16px;
}
#wb_FontAwesomeIcon1
{
   left: 210px;
   top: 116px;
   width: 37px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon1
{
   width: 37px;
   height: 22px;
}
#FontAwesomeIcon1 i
{
   line-height: 22px;
   font-size: 22px;
   width: 17px;
}
#SlideShow1
{
   width: 210px;
   height: 214px;
   visibility: visible;
   display: inline-block;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_YouTube2
{
   left: 72px;
   top: 5px;
   width: 73px;
   height: 41px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Layer2
{
   left: 5px;
   top: 99px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer2
{
   width: 48.5417%;
}
#Layer2_Container
{
   width: 233px;
}
#Layer3
{
   left: 6px;
   top: 145px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer3
{
   width: 47.9167%;
}
#Layer3_Container
{
   width: 230px;
}
#wb_YouTube1
{
   left: 72px;
   top: 4px;
   width: 73px;
   height: 41px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Layer7
{
   left: 5px;
   top: 194px;
   visibility: hidden;
   display: none;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer7
{
   width: 48.5417%;
}
#Layer7_Container
{
   width: 233px;
}
#wb_YouTube5
{
   left: 73px;
   top: 0px;
   width: 73px;
   height: 41px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Layer4
{
   left: 6px;
   top: 238px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer4
{
   width: 47.9167%;
}
#Layer4_Container
{
   width: 230px;
}
#wb_YouTube3
{
   left: 72px;
   top: 8px;
   width: 73px;
   height: 41px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
@media only screen and (max-width: 479px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_EmbeddedPage2
{
   width: 320px;
   height: 32px;
   visibility: visible;
   display: inline;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 0;
}
#LayoutGrid1 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid1 > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_PanelMenu1
{
   width: 27px;
   height: 32px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#PanelMenu1
{
   line-height: 32px;
   width: 27px;
   height: 32px;
}
#PanelMenu1 .line:first-child
{
   margin-top: 5px;
}
#PanelMenu1_markup li a
{
   color: #D3D3D3;
   border: 0px solid #2E2E2E;
   background-color: #4F4F4F;
   font-family: "Futura LT";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#wb_PanelMenu1 a
{
   color: #FFFFFF;
   border: 1px solid transparent;
   font-family: "Futura LT";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#PanelMenu1_markup li a:hover
{
   color: #D3D3D3;
   background-color: #000000;
   border: 0px solid #2E2E2E;
}
#wb_PanelMenu1 a:hover
{
   color: #808080;
   border: 1px solid transparent;
}
#PanelMenu1_panel
{
   background-color: #4F4F4F;
   overflow-y: auto;
}
#FlexGrid1
{
   visibility: visible;
   display: grid;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FlexGrid1
{
   margin: 0;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 50px 50px auto auto auto auto;
   grid-template-areas:
      "header header header header"
      "row1 row1 row1 row1"
      "main4 main6 main6 main7"
      "row2 row2 row2 row2"
      "main8 main9 main10 main11"
      "ft ft ft ft";
}
#FlexGrid1 .header
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#FlexGrid1 .main2
{
   display: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main4
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main1
{
   display: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main3
{
   display: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main6
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#FlexGrid1 .row2
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main7
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .row1
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .ft
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main8
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main9
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main10
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#FlexGrid1 .main11
{
   display: flex;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#EmbeddedPage1
{
   width: 320px;
   height: 142px;
   visibility: visible;
   display: inline;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_Divider3
{
   visibility: visible;
   display: flex;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#Divider3
{
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 5px 0px 8px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#Layer1
{
   left: 0px;
   top: 358px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#Layer1
{
   width: 100%;
}
#Layer1_Container
{
   width: 320px;
}
#wb_Image1
{
   left: 139px;
   top: 14px;
   width: 42px;
   height: 95px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#DividerLine3
{
   width: auto;
   height: -4px;
   visibility: visible;
   display: inline;
   margin: 5px 0px 0px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#DividerLine3
{
   border-color: #D3D3D3;
   border-bottom-width: -9px;
}
#wb_Text1
{
   left: 0px;
   top: 109px;
   width: 320px;
   height: 14px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
}
#wb_Text1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_FontAwesomeIcon2
{
   left: 97px;
   top: 24px;
   width: 41px;
   height: 21px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon2
{
   width: 41px;
   height: 21px;
}
#FontAwesomeIcon2 i
{
   line-height: 21px;
   font-size: 21px;
   width: 17px;
   color: #696969;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#wb_FontAwesomeIcon4
{
   left: 206px;
   top: 24px;
   width: 49px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon4
{
   width: 49px;
   height: 22px;
}
#FontAwesomeIcon4 i
{
   line-height: 22px;
   font-size: 22px;
   width: 19px;
   color: #696969;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#wb_FontAwesomeIcon5
{
   left: 76px;
   top: 23px;
   width: 22px;
   height: 23px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon5
{
   width: 22px;
   height: 23px;
}
#FontAwesomeIcon5 i
{
   line-height: 23px;
   font-size: 22px;
   width: 16px;
   color: #696969;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#wb_FontAwesomeIcon1
{
   left: 182px;
   top: 23px;
   width: 37px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon1
{
   width: 37px;
   height: 22px;
}
#FontAwesomeIcon1 i
{
   line-height: 22px;
   font-size: 22px;
   width: 17px;
   color: #696969;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#SlideShow1
{
   width: 130px;
   height: 132px;
   visibility: visible;
   display: inline-block;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_YouTube2
{
   left: 4px;
   top: 0px;
   width: 66px;
   height: 37px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Layer2
{
   left: 5px;
   top: 99px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer2
{
   width: 34.375%;
}
#Layer2_Container
{
   width: 110px;
}
#Layer3
{
   left: 9px;
   top: 148px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer3
{
   width: 33.125%;
}
#Layer3_Container
{
   width: 106px;
}
#wb_YouTube1
{
   left: 0px;
   top: 0px;
   width: 66px;
   height: 37px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Layer7
{
   left: 5px;
   top: 194px;
   visibility: hidden;
   display: none;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer7
{
   width: 34.375%;
}
#Layer7_Container
{
   width: 110px;
}
#wb_YouTube5
{
   left: 4px;
   top: 0px;
   width: 66px;
   height: 37px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Layer4
{
   left: 5px;
   top: 238px;
   visibility: hidden;
   display: none;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer4
{
   width: 34.375%;
}
#Layer4_Container
{
   width: 110px;
}
#wb_YouTube3
{
   left: 4px;
   top: 0px;
   width: 66px;
   height: 37px;
   visibility: visible;
   display: inline;
   margin: 0;
}
}
