body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#FlexGrid1
{
   display: grid;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 0px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 50px auto auto auto auto auto;
   grid-template-areas:
      "header header header header"
      "row1 row1 row1 row1"
      "main4 main5 main6 main7"
      "row2 row2 row2 row2"
      "main8 main9 main10 main11"
      "ft ft ft ft";
}
#FlexGrid1 .header
{
   display: flex;
   grid-area: header;
   background-color: #000000;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#FlexGrid1 .row1
{
   display: flex;
   grid-area: row1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .main4
{
   display: flex;
   grid-area: main4;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .main5
{
   display: flex;
   grid-area: main5;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .main6
{
   display: flex;
   grid-area: main6;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .main7
{
   display: flex;
   grid-area: main7;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .row2
{
   display: flex;
   grid-area: row2;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .main8
{
   display: flex;
   grid-area: main8;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .main9
{
   display: flex;
   grid-area: main9;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .main10
{
   display: flex;
   grid-area: main10;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .main11
{
   display: flex;
   grid-area: main11;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .ft
{
   display: flex;
   grid-area: ft;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#Divider3
{
   display: -webkit-flex;
   display: flex;
   padding: 5px 0px 8px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#DividerLine3
{
   border-color: #D3D3D3;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 5px 0px 0px 0px;
   padding: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   font-family: "Futura Light";
   font-weight: normal;
   font-size: 11px;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 21px;
   width: 41px;
}
#FontAwesomeIcon2 i
{
   color: #696969;
   display: inline-block;
   font-size: 21px;
   line-height: 21px;
   vertical-align: middle;
   width: 17px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon4
{
   height: 22px;
   width: 49px;
}
#FontAwesomeIcon4 i
{
   color: #696969;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 19px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon5
{
   height: 23px;
   width: 22px;
}
#FontAwesomeIcon5 i
{
   color: #696969;
   display: inline-block;
   font-size: 22px;
   line-height: 23px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 22px;
   width: 37px;
}
#FontAwesomeIcon1 i
{
   color: #696969;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 17px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_PanelMenu1 a, #PanelMenu1_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#PanelMenu1_markup
{
   display: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_panel #PanelMenu1_markup
{
   display: block;
}
#PanelMenu1_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#PanelMenu1_markup li a, #PanelMenu1_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   border-width: 0;
   border-bottom-width: 0px;
   border-radius: 0;
   box-shadow: none;
}
#PanelMenu1_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#PanelMenu1_panel
{
   display: none;
   position: absolute;
   position: fixed;
   width: 100%;
   z-index: 9999;
}
#PanelMenu1_markup li a
{
   color: #D3D3D3;
   border: 0px solid #2E2E2E;
   background-color: #4F4F4F;
   font-family: "Futura LT";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#wb_PanelMenu1 a
{
   color: #696969;
   border: 1px solid transparent;
   background-color: #FFFFFF;
   background-color: rgba(255,255,255,0.00);
   font-family: "Futura LT";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#PanelMenu1_markup li a:hover
{
   color: #D3D3D3;
   background-color: #000000;
   border: 0px solid #2E2E2E;
}
#wb_PanelMenu1 a:hover
{
   color: #808080;
   background-color: #DCDCDC;
   border: 1px solid transparent;
}
#PanelMenu1_panel
{
   background-color: #4F4F4F;
   overflow-y: auto;
}
#PanelMenu1 .line
{
   width: 16px;
   height: 3px;
   background: #696969;
   display: block;
   margin: 3px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
#PanelMenu1 .line:first-child
{
   margin-top: 8px;
}
#PanelMenu1.open .line:nth-child(1)
{
   -webkit-transform: translateY(6px) rotate(45deg);
   -moz-transform: translateY(6px) rotate(45deg);
   transform: translateY(6px) rotate(45deg);
}
#PanelMenu1.open .line:nth-child(2)
{
   opacity: 0;
}
#PanelMenu1.open .line:nth-child(3)
{
   -webkit-transform: translateY(-6px) rotate(-45deg);
   -moz-transform: translateY(-6px) rotate(-45deg);
   transform: translateY(-6px) rotate(-45deg);
}
#PanelMenu1
{
   line-height: 32px;
   width: 27px;
   height: 32px;
   position: absolute;
   z-index: 999;
}
#wb_Divider1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.39);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#Divider1
{
   box-sizing: border-box;
   padding: 10px 0px 20px 0px;
   margin-right: auto;
   margin-left: auto;
}
#Divider1 .row
{
   margin-right: 0;
   margin-left: 0;
}
#Divider1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#Divider1 > .row > .col-1
{
   float: left;
}
#Divider1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#Divider1:before,
#Divider1:after,
#Divider1 .row:before,
#Divider1 .row:after
{
   display: table;
   content: " ";
}
#Divider1:after,
#Divider1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#Divider1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#Divider1-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #FFFFFF;
   opacity: 0.39;
}
#DividerLine1
{
   border-color: #D3D3D3;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
